In [1]:
import pandas as pd
import pickle
preseknpai=[]
vannpai=[]
unutranpai=[]
presekcpai=[]
vancpai=[]
unutracpai=[]
presekpai=[]
vanpai=[]
unutrapai=[]

In [2]:
df_cpai = pd.read_csv("./NC_008563.cpai" ,sep=' ')
df_cpai

     start      end
0   237543   271625
1   295044   315796
2  2089479  2168238
3  3305017  3414778
4  4697611  4719787
5  4754911  4770462
6  4938358  4956148

In [3]:
df_npai=pd.read_csv("./NC_008563.npai", sep=' ')
df_npai

     start      end
0  1250150  1259633
1  2393372  2407214

In [4]:
df_pai=pd.read_csv("./NC_008563.pai", sep=' ')
df_pai

     start      end
0   241877   271619
1   295044   314346
2  2090557  2168238
3  3305017  3388621
4  4312693  4327992

In [5]:
df_fasta=pd.read_csv("./izlaz_dn.load")
df_fasta

,id,start_left,end_left,start_right,end_right,len,niska,niska2
0,NC_008563.1,3324325,3324336,4205467,4205478,12,AAAAAAAAATGC,AAAAAAAAATGC
1,NC_008563.1,2063692,2063707,2494829,2494844,16,AAAAAAAACCGCCGAA,AAAAAAAACCGCCGAA
2,NC_008563.1,1667005,1667017,2494829,2494841,13,AAAAAAAACCGCC,AAAAAAAACCGCC
3,NC_008563.1,3183634,3183651,3183837,3183854,18,AAAAAAAACCTGCGCATC,AAAAAAAACCTGCGCATC
4,NC_008563.1,2724470,2724481,4199384,4199395,12,AAAAAAAACCTG,AAAAAAAACCTG
...,...,...,...,...,...,...,...,...
1327121,NC_008563.1,944259,944270,2255960,2255971,12,TTTTTTTTGTAT,TTTTTTTTGTAT
1327122,NC_008563.1,199617,199628,2255960,2255971,12,TTTTTTTTGTAT,TTTTTTTTGTAT
1327123,NC_008563.1,927798,927812,4817494,4817508,15,TTTTTTTTGTCTATA,TTTTTTTTGTCTATA
1327124,NC_008563.1,3067830,3067843,4817494,4817507,14,TTTTTTTTGTCTAT,TTTTTTTTGTCTAT
1327125,NC_008563.1,1347758,1347770,3371611,3371623,13,TTTTTTTTTAATA,TTTTTTTTTAATA

In [6]:
suma=df_fasta.size/4
df_fasta.size

10617008

In [8]:
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_cpai.iterrows():
        if ((row_fasta['end_left']<=row_cpai['end'] and row_fasta['end_left']>=row_cpai['start'] and row_fasta['start_left'] < row_cpai['start']) or (row_fasta['start_left']>=row_cpai['start'] and row_fasta['start_left']<=row_cpai['end'] and row_fasta['end_left'] >row_cpai['end'])):
            presekcpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_left'] > row_cpai['start']) and (row_fasta['end_left'] < row_cpai['end']):
            unutracpai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
        vancpai.append(row_fasta)
            
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_cpai.iterrows():
        if ((row_fasta['end_right']<=row_cpai['end'] and row_fasta['end_right']>=row_cpai['start'] and row_fasta['start_right'] < row_cpai['start']) or (row_fasta['start_right']>=row_cpai['start'] and row_fasta['start_right']<=row_cpai['end'] and row_fasta['end_right'] >row_cpai['end'])):
            presekcpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_right'] > row_cpai['start']) and (row_fasta['end_right'] < row_cpai['end']):
            unutracpai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
        vancpai.append(row_fasta)

In [1]:
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_npai.iterrows():
        if ((row_fasta['end_left']<=row_cpai['end'] and row_fasta['end_left']>=row_cpai['start'] and row_fasta['start_left'] < row_cpai['start']) or (row_fasta['start_left']>=row_cpai['start'] and row_fasta['start_left']<=row_cpai['end'] and row_fasta['end_left'] >row_cpai['end'])):
            preseknpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_left'] > row_cpai['start']) and (row_fasta['end_left'] < row_cpai['end']):
            unutranpai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
        vannpai.append(row_fasta)
            
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_npai.iterrows():
        if ((row_fasta['end_right']<=row_cpai['end'] and row_fasta['end_right']>=row_cpai['start'] and row_fasta['start_right'] < row_cpai['start']) or (row_fasta['start_right']>=row_cpai['start'] and row_fasta['start_right']<=row_cpai['end'] and row_fasta['end_right'] >row_cpai['end'])):
            preseknpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_right'] > row_cpai['start']) and (row_fasta['end_right'] < row_cpai['end']):
            unutranpai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
       vannpai.append(row_fasta)

NameError: name 'df_fasta' is not defined

In [7]:
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_pai.iterrows():
        if ((row_fasta['end_left']<=row_cpai['end'] and row_fasta['end_left']>=row_cpai['start'] and row_fasta['start_left'] < row_cpai['start']) or (row_fasta['start_left']>=row_cpai['start'] and row_fasta['start_left']<=row_cpai['end'] and row_fasta['end_left'] >row_cpai['end'])):
            presekpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_left'] > row_cpai['start']) and (row_fasta['end_left'] < row_cpai['end']):
            unutrapai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
        vanpai.append(row_fasta)
            
for index_fasta, row_fasta in df_fasta.iterrows():
    dodat_presek=False
    dodat_unutra=False
    for index_cpai, row_cpai in df_pai.iterrows():
        if ((row_fasta['end_right']<=row_cpai['end'] and row_fasta['end_right']>=row_cpai['start'] and row_fasta['start_right'] < row_cpai['start']) or (row_fasta['start_right']>=row_cpai['start'] and row_fasta['start_right']<=row_cpai['end'] and row_fasta['end_right'] >row_cpai['end'])):
            presekpai.append(row_fasta)
            dodat_presek=True
            break
        elif (row_fasta['start_right'] > row_cpai['start']) and (row_fasta['end_right'] < row_cpai['end']):
            unutrapai.append(row_fasta)
            dodat_unutra=True
            break
    if (dodat_presek==False and dodat_unutra==False):
       vanpai.append(row_fasta)

In [ ]:
counts = {}

# Iterirajte kroz cpai, npai i pai i brojite koliko se puta pojavljuje 6. atribut u svakom od njih
for data in unutracpai:
    count = data[6]
    if count in counts:
        counts[count][0] += 1
    else:
        counts[count] = [1, 0, 0, 0, 0, 0, 0, 0, 0]

for data in unutranpai:
    count = data[6]
    if count in counts:
        counts[count][1] += 1
    else:
        counts[count] = [0, 1, 0, 0, 0, 0, 0, 0, 0]

for data in unutrapai:
    count = data[6]
    if count in counts:
        counts[count][2] += 1
    else:
        counts[count] = [0, 0, 1, 0, 0, 0, 0, 0, 0]

for data in vannpai:
    count = data[6]
    if count in counts:
        counts[count][3] += 1
    else:
        counts[count] = [0, 0, 0, 1, 0, 0, 0, 0, 0]

for data in vancpai:
    count = data[6]
    if count in counts:
        counts[count][4] += 1
    else:
        counts[count] = [0, 0, 0, 0, 1, 0, 0, 0, 0]

for data in vanpai:
    count = data[6]
    if count in counts:
        counts[count][5] += 1
    else:
        counts[count] = [0, 0, 0, 0, 0, 1, 0, 0, 0]

for data in preseknpai:
    count = data[6]
    if count in counts:
        counts[count][6] += 1
    else:
        counts[count] = [0, 0, 0, 0, 0, 0, 1, 0, 0]

for data in presekcpai:
    count = data[6]
    if count in counts:
        counts[count][7] += 1
    else:
        counts[count] = [0, 0, 0, 0, 0, 0, 0, 1, 0]

for data in presekpai:
    count = data[6]
    if count in counts:
        counts[count][8] += 1
    else:
        counts[count] = [0, 0, 0, 0, 0, 0, 0, 0, 1]
        
podaci={}
# Ispišite rezultate
for count, (unutra_cpai, unutra_npai, unutra_pai, vannpai_count, vancpai_count, vanpai_count, presek_npai, presek_cpai, presek_pai) in counts.items():
    sumacpai=unutra_cpai+vancpai_count+presek_cpai
    sumanpai=unutra_npai+vannpai_count+presek_npai
    sumapai=unutra_pai+vanpai_count+presek_pai
    suma=sumacpai+sumanpai+sumapai
    podaci[count] = {
        "Tip:":"NC_009837",
        "CPai": unutra_cpai / sumacpai,
        "NPai": unutra_npai / sumanpai,
        "Pai": unutra_pai / sumapai,
        "VANNpai": vannpai_count / sumanpai,
        "VANCpai": vancpai_count /sumacpai,
        "VANPai": vanpai_count /sumapai,
        "PRESEKNpai": presek_npai / sumanpai,
        "PRESEKCpai": presek_cpai / sumacpai,
        "PRESEKPai": presek_pai / sumapai,
        "SUMA": suma
    }
    print(f"Tip: {df_fasta['id'][0]}, Niska: {count}, CPai: {unutra_cpai/sumacpai}, NPai: {unutra_npai/sumanpai}, VANNpai: {vannpai_count/sumanpai}, VANCpai {vancpai_count/sumacpai}, PRESEKNpai: {presek_npai/sumanpai}, PRESEKCpai: {presek_cpai/sumacpai}, SUMA: {suma}, SUMAC: {sumacpai}, SUMAN: {sumanpai}, SUMAP: {sumapai}")

In [ ]:
sortirani_podaci = sorted(podaci.items(), key=lambda x: x[1]["PRESEKCpai"],reverse=True)

# Prikaz sortiranih podataka
for niska, podatak in sortirani_podaci:
    print(niska, podatak)

In [ ]:
with open('../podacitest/podaci.pkl', 'wb') as f:
    pickle.dump(podaci, f)