In [1]:
import pandas as pd

In [2]:
presek=[]
van=[]
unutra=[]

In [3]:
df_cpai = pd.read_csv("./NC_000913.cpai" ,sep=' ')

In [4]:
df_cpai

     start      end
0   257908   270540
1  2068952  2077943
2  2987536  2999057
3  4509804  4518235

In [5]:
df_npain=pd.read_csv("./NC_000913.npai", sep=' ')

In [6]:
df_npain

     start      end
0  2280632  2297644
1  3070165  3081635
2  3110366  3130143

In [7]:
df_fasta=pd.read_csv("./izlaz.load")

In [8]:
df_fasta

,id,start_left,end_left,start_right,end_right,len,niska,niska2
0,NC_000913.3,2284070,2284082,2785197,2785209,13,AAAAAAAACCGTT,AAAAAAAACCGTT
1,NC_000913.3,2976102,2976119,2976304,2976321,18,AAAAAAAACCTGCGCATC,AAAAAAAACCTGCGCATC
2,NC_000913.3,584187,584199,2816585,2816597,13,AAAAAAAAGATTA,AAAAAAAAGATTA
3,NC_000913.3,3580923,3580936,3915501,3915514,14,AAAAAAAAGCCAGC,AAAAAAAAGCCAGC
4,NC_000913.3,837435,837448,1097524,1097537,14,AAAAAAAAGCCCGT,AAAAAAAAGCCCGT
...,...,...,...,...,...,...,...,...
351848,NC_000913.3,430521,430533,584480,584492,13,TTTTTTTTGATGT,TTTTTTTTGATGT
351849,NC_000913.3,2757983,2757995,3664104,3664116,13,TTTTTTTTGATTA,TTTTTTTTGATTA
351850,NC_000913.3,1409243,1409256,4060273,4060286,14,TTTTTTTTGCCTGT,TTTTTTTTGCCTGT
351851,NC_000913.3,1579864,1579876,3385846,3385858,13,TTTTTTTTGCGCT,TTTTTTTTGCGCT
351852,NC_000913.3,2900560,2900573,4410046,4410059,14,TTTTTTTTGTCTAT,TTTTTTTTGTCTAT

In [9]:
df_fasta.size

2814824

In [10]:
for fasta_start in df_fasta.values:
    for cpai in df_cpai.values:
        if((fasta_start[1] < cpai[0] and fasta_start[2] < cpai[1]) or (fasta_start[1] > cpai[0] and fasta_start[2] > cpai[1])):
            van.append(fasta_start)

In [11]:
for fasta_start in df_fasta.values:
    for cpai in df_cpai.values:
        if((fasta_start[1] < cpai[0] and fasta_start[2] >=cpai[0]) or (fasta_start[1]<=cpai[0] and fasta_start[2] > cpai[1]) or (fasta_start[3] < cpai[0] and fasta_start[4] >=cpai[0]) or (fasta_start[3]<=cpai[0] and fasta_start[4] > cpai[1])):
            presek.append(fasta_start)

In [12]:
for fasta_start in df_fasta.values:
    for cpai in df_cpai.values:
        if((fasta_start[1] >=cpai[0] and fasta_start[2] <=cpai[1]) or fasta_start[3] >=cpai[0] and fasta_start[4] <=cpai[1]):
            unutra.append(fasta_start)

In [13]:
for a in presek:
    print("CPAI presek dc "+a[0]+" "+str(a[1])+" "+str(a[2])+" "+a[6])

CPAI presek dc NC_000913.3 1071633 1071646 AACAGACTACCTGA
CPAI presek dc NC_000913.3 1804150 1804162 ATTTGCCCCTATA
CPAI presek dc NC_000913.3 1467909 1469240 CTGGATTTGCCCCTATATTTCCAGACATCTGTTATCACTTAACCCATTACAAGCCCGCTGCCGCAGATATTCCCGTGGCGAGCGATAACCCAGCGCACTATGCGGATGCCATTCGTTATAATGCTCGAACGCCTCTGCAAGGTTCTTTGCTGCCGTTAACCCGTCTGGTTTGGGCATGATACTGATGTAGTCACGCTTTATCGTTTTCACGAAGCTCTCTGCTATTCCGTTACTCTCCGGACTCCGCACCGCCGTGTTCTTCGGTTCAAGTCCCAACATCCGGGCGAACTGGCGTGTTTCATTAGCCCGGTAGCATGAACCATTATCCGTCAGCCACTCCACTGGAGACGACGGAAGATCGTTGCCGAAGCGGCGTTCCACCGCTCCCAGCATGACGTCCTGTACTGTTTCACTGTTGAAGCCGCCGGTAGTGACCGCCCAGTGCAGTGCCTCACGATCACAGCAGTCCAGCGCGAACGTGACACGCAGTCTCTCTCCGTTATCACAGCAGAACTCGAACCCGTCAGAGCACCATCGCTGATTGCTTTCTTTCACGGCCACTCTGCCTGTATGTGCCCGTTTCGATGGCGGTACAGCAGGTTTTCGCTCAAGCAACAGCGCATTCTGGCGCATGATCCGGTAAACACGTTTGGCATTGATCGCAGGCATACCATCAAGTTCTGCCTGTCTGCGAAGCAGCGCCCATACCCGACGATAACCATACGTTGGCAGCTCTCCGATAACATGGTGTATACGGAGAAGCACATCCGTATCATCAGTGTGACGACTGCGGCGGCCATCCATCCAGTCATCGGTTCGTCTGAGAATGACGTGCAACTGCGCACGCGACACCCGGAGACAACGGCTGACTAAGCTTACTCCCCATCCCCGGGCAATAAGGGCGCGTGCGCTATCCACTTTTTTGCCCGTCCATATTCAACGGCTTCTTTGAGGAGTTCATTTTCCATCGTTTTCTTGCCGAGCAGGCGCTGGAGTTCTTTAATCTGCTTCATGGCGGCAGCAAGTTCAGAGGCAGGAACAACCTGTTCTCCGGCGGCGACAGCAGTAAGACTTCCTTCCTGGTATTGCTTACGCCAGAGAAATAACTGGCTGGCTGCTACACCATGTTGCCGGGCAACGAGGGAGACCGTCATCCCCGGTTCAAAGCTCTGCTGAACAATTGCGATCTTTTCCTGTGTGGTACGCCGTCTGCGTTTCTCCGGCCCTAAGACATCAATCATCTGTTCTCCAATGACTAGTCTAAAAACTAGTATTAAGACTATCACTTATTTAAGTGATATTGGTTGTCTGGAGATTCAGGGGGCCAGTCTA
CPAI presek dc NC_000913.3 2021630 2021642 GGATTTGCCCCTA
CPAI presek dc NC_000913.3 2068941 2070271 TGGATTTGCCCCTATATTTCCAGACATCTGTTATCACTTAACCCATTACAAGCCCGCTGCCGCAGATATTCCCGTGGCGAGCGATAACCCAGCGCACTATGCGGATGCCATTCGTTATAATGCTCGAACGCCTCTGCAAGGTTCTTTGCTGCCGTTAACCCGTCTGGTTTGGGCATGATACTGATGTAGTCACGCTTTATCGTTTTCACGAAGCTCTCTGCTATTCCGTTACTCTCCGGACTCCGCACCGCCGTGTTCTTCGGTTCAAGTCCCAACATCCGGGCGAACTGGCGTGTTTCATTAGCCCGGTAGCATGAACCATTATCCGTCAGCCACTCCACTGGAGACGACGGAAGATCGTTGCCGAAGCGGCGTTCCACCGCTCCCAGCATGACGTCCTGTACTGTTTCACTGTTGAAGCCGCCGGTAGTGACCGCCCAGTGCAGTGCCTCACGATCACAGCAGTCCAGCGCGAACGTGACACGCAGTCTCTCTCCGTTATCACAGCAGAACTCGAACCCGTCAGAGCACCATCGCTGATTGCTTTCTTTCACGGCCACTCTGCCTGTATGTGCCCGTTTCGATGGCGGTACAGCAGGTTTTCGCTCAAGCAACAGCGCATTCTGGCGCATGATCCGGTAAACACGTTTGGCATTGATCGCAGGCATACCATCAAGTTCTGCCTGTCTGCGAAGCAGCGCCCATACCCGACGATAACCATACGTTGGCAGCTCTCCGATAACATGGTGTATACGGAGAAGCACATCCGTATCATCAGTGTGACGACTGCGGCGGCCATCCATCCAGTCATCGGTTCGTCTGAGAATGACGTGCAACTGCGCACGCGACACCCGGAGACAACGGCTGACTAAGCTTACTCCCCATCCCCGGGCAATAAGGGCGCGTGCGCTATCCACTTTTTTGCCCGTCCATATTCAACGGCTTCTTTGAGGAGTTCATTTTCCATCGTTTTCTTGCCGAGCAGGCGCTGGAGTTCTTTAATCTGCTTCATGGCGGCAGCAAGTTCAGAGGCAGGAACAACCTGTTCTCCGGCGGCGACAGCAGTAAGACTTCCTTCCTGGTATTGCTTACGCCAGAGAAATAACTGGCTGGCTGCTACACCATGTTGCCGGGCAACGAGGGAGACCGTCATCCCCGGTTCAAAGCTCTGCTGAACAATTGCGATCTTTTCCTGTGTGGTACGCCGTCTGCGTTTCTCCGGCCCTAAGACATCAATCATCTGTTCTCCAATGACTAGTCTAAAAACTAGTATTAAGACTATCACTTATTTAAGTGATATTGGTTGTCTGGAGATTCAGGGGGCCAGTCTA

In [15]:
len(van)

1404890